@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

 html {
  height: 100%;
}
body {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:black;
  background-color:white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

ul { 
  margin: 0; 
  padding: 0; 
  list-style: none; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
}

/* Pages */
.page-header {
  color:black;
  background: white;
  width: 1200px;
  height: 65px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 309px;
  list-style-type: none;
  margin-left: 71px;
  margin-right: 151px;
  position: relative;
  list-style-type: none;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color:black;
  background-color:white;
  text-decoration: none;
  text-transform: capitalize; 
  border: none;
  cursor: pointer;
  position: relative;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  color: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}  

.navigation-link:active {
  color: #75625730;
}


.navigation-link-current::before {
  position: absolute;
  bottom: -18px;
  height: 2px;
  width: 70px;
  background-color: #756257;
  content: "";
}

.navigation-hotels::before {
  position: absolute;
  bottom: -18px;
  height: 2px;
  width: 93px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 209px;
  margin-right: 72px;
  width: 250px;
  position: relative;
  }

.navigation-link:hover .navigation-icon{
  fill: #756257;
  }

.navigation-link:active .navigation-icon{
    fill: #75625730;
  }

.navigation-button:hover .navigation-icon{
  fill: #756257;
  }

.navigation-button:active .navigation-icon{
    fill: #75625730;
  }

.navigation-button:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    color: #756257;
    border: 3px solid #83B3D3;
    box-sizing: border-box;
    border-radius: 10px;
  }  
  
 .popover{
  position: absolute;
  top: 15;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  height: 232px;
  padding: 40px;
  font-family: "PT Sans", sans-serif;
  color: #242424;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: 1px solid #E6E6E6;
} 

.popover-content {
  display: flex;
  justify-content: space-between;
}

.cart-item {
  display: flex;
  flex-direction: row;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  width: 190px;
}

.cart-item-title {
  weight: 700px;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  text-transform: none;
  text-decoration: none;
}

 .popover::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 190px;
  width: 20px;
  height: 9px;
  background-image: url(../image/triangle.svg);
}

.popover-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 70px;
} 

.round-green {
  color: #FFFFFF;
  display: block;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 13px;
  padding-top: 3px;
  box-sizing: border-box;
  padding-left: 4px;
  background-color: #7DB54F;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 175px;
  }

.round-green:active {
  color: #ffffff30;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  z-index: 5;
}

.navigation-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #756257;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.navigation-text:hover {
  background-color: #615048;
  color: white;
}

.navigation-text:focus {
  background-color: #615048;
  color: #ffffff;
}

.navigation-text:active {
  background-color: #615048;
  color: #ffffff30;
}

.main-index-photo {
  width: 1200px;
  height: 485px;
  background-color: white;
  color: black;
  background:
  url("../image/divider.svg") 0 428px,
  url("../image/index-background.jpg");
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 51px;
}

/* Description */

.description {
  width: 1200px;
}

.description-white {
  background-size: 100% auto;
  background-color: white;
  text-align: center;
  padding-bottom: 79px;
}

/* First paragraph*/
.description-lead {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color:black;
  background-color:white;
  text-decoration: none;
  text-transform: uppercase;
}

/* Second paragraph*/
.description-text {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color:black;
  background-color:white;
  text-decoration: none;
  text-transform: none;
}

/*Advantages description */

.advantages-description-1 {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* List */
.advantages-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-list-white {
  width: 400px;
  height: 384px;
}

/* Title */
.advantages-description-blue {
  background-color: #83B3D3;
  width: 400px;
  height: 384px;
}

.advantages-title-white {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.advantages-description-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}

.advantages-text-white {
  color:white;
}

.advantages-description-cyen {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.advantages-title {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.advantages-text-black {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}

.advantages-description-lightblue {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
}

.advantages-list-cyen {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 384px;
}

.advantages-list-house {
  background: url("../image/house-icon.svg") no-repeat;
  display: flex;
  align-self: center;
  width: 75px;
  height: 72px;
  padding-bottom: 23px;
}

.advantages-list-burger {
  background: url("../image/burger-icon.svg") no-repeat;
  display: flex;
  align-self: center;
  width: 74px;
  height: 70px;
  padding-bottom: 23px;
}

.advantages-list-souvenir {
background: 
url("../image/present-icon.svg") no-repeat;
display: flex;
justify-content: center;
align-self: center;
width: 64px;
height: 76px;
padding-bottom: 23px;
}

/*Search*/
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 91px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color:black;
  background-color:white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}
.search-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-transform: none;
  margin: 0;
}

.button-submit-1 {
font-family: inherit;
font-size: 20px;
line-height: 36px;
font-weight: 700;
text-align: center;
color: #FFFFFF;
background-color: #756257;
text-decoration: none;
text-transform: uppercase;
border: none;
cursor: pointer;
padding-top: 13px;
padding-bottom: 17px;
padding-right: 140px;
padding-left: 140px;
border-radius: 10px;
margin-top: 43px;
}

.button-submit-1:hover {
  background-color: #615048;
}

.button-submit-1:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.button-submit-1:active {
  background-color: #615048;
  color: #ffffff30;
}

/*Submit*/

.appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.appointment-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
} 

.appointment-photo {
    background:
    url("../image/submit-background.jpg") no-repeat; 
    text-align: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}

.appointment-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-transform: none;
}

/* Field */

.appointment-form-email {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 26px;
  margin-bottom: 94px;
}

.newsletter-email {
  flex-grow: 1;
  margin: 0;
}

.newsletter-email .field {
  width: 800px;
}

.newsletter-email .field:hover {
  background-color: #E6E6E6;
}

.newsletter-email .field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.newsletter-email .field:active {
  background-color:white;
  outline: 2px solid #000000;
  color: black;
}


.field {
  height: 59px;
  margin: 0;
  font: inherit;
  font-weight: 400;
  background-color:  #F2F2F2;
  border: none;
  border-radius: 10px 10px 10px 10px;
  padding-left: 22px;
}

.button-submit {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 61px;
  border-radius: 0px 10px 10px 0px;
}

.button-submit:hover{
  background-color: #68A2CA;
}

 .button-submit:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
} 

.button-submit:active {
  background-color: #68A2CA;
  color: #ffffff30;
}


/* Placeholder */
.field::placeholder {
  color:black;
  opacity: 0.6;
  weight: 400;
  font-size: 18px;
  line-height: 26px;
}

/*Footer*/

.page-footer {
  padding: 72px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-contacts-address-phone {
  font-size: 40px;
  font-style: normal;
  line-height: 36px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contacts-address-phone:hover {
  color: #756257;
}

.footer-contacts-address-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
}

.footer-contacts-address-phone:active {
  color: #75625730;
}

.footer-logo {
  cursor: pointer;
}

.footer-logo:hover .logo {
 fill: #756257;
}

.footer-logo:focus .logo {
  fill: #756257;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
 }

 .footer-logo:active .logo {
  fill:#75625730;
 }

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 50px;
}

.modal-search {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../image/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field-caption {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  text-transform: none;
}

.field-text {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-transform: none;
}

.field-text-error {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color:#FF5757;
  text-decoration: none;
  text-transform: none;
}

.search-form-field {
  width: 420px;
  height: 50px;
  border-radius: 4px;

}

.field-group-people {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.people-form-field {
  width: 133px;
  height: 50px;
  border-radius: 4px;
}

.round-blue {
  color: #FFFFFF;
  display: block;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  padding-left: 4px;
  background-color: #83B3D3;
  border-radius: 50%;
  position: absolute;
}

.round-blue::before {
  content: url("../image/info.svg");
  position: absolute;
  right: 12px;
  background-image:"";
}

.search-form-button {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  width: 575px;
  height: 60px;
  border-radius: 10px;
}

/*Social-icons*/
.social-twitter {
  width: 18px;
  height: 15px;
  background:
  url("../image/twitter.svg") no-repeat;
  padding-right: 29px;
  cursor: pointer;
}

.social-twitter:hover {
  fill:  #68A2CA;
}

.social-facebook {
  width: 10px;
  height: 18px;
  background:
  url("../image/facebook.svg") no-repeat;
  padding-right: 29px;
  cursor: pointer;
}

.social-youtube {
  width: 20px;
  height: 16px;
  background:
  url("../image/youtube.svg") no-repeat;
  cursor: pointer;
}

/*Catalog*/

/*Catalog-products*/

.inner-header {
background:
url("../image/catalog-background.jpg") no-repeat;
padding-top: 35px;
padding-bottom: 65px;
}


.inner-header-title {
width: 528px;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 78px;
color: white;
margin: 0;
padding-left: 71px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding-left: 73px;
}

.breadcrumbs-item {
  position: relative;
  list-style-type: none;
}

.breadcrumbs-item::after {
position: absolute;
width: 5px;
height: 8px;
top: 8px;
right: -20px;
content: "";
background: url("../image/catalog/nav-link.svg") no-repeat;
}

.breadcrumbs-icon {
  fill:#FFFFFF;
  cursor: pointer;
}

.breadcrumbs-item:hover .breadcrumbs-icon {
  fill:#FFFFFF60;
}

.breadcrumbs-item:focus .breadcrumbs-icon {
  fill:#FFFFFF;
  border: 3px solid #83B3D3;
}

.breadcrumbs-item:active .breadcrumbs-icon {
  fill:#FFFFFF30;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-hotels {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: white;
margin-left: 30px;
cursor: pointer;
}

.breadcrumbs-hotels:hover {
  color: #FFFFFF60;
}

.breadcrumbs-hotels:focus {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.breadcrumbs-hotels:active {
  color: #FFFFFF30;
}

/* .breadcrumbs-nav-link {
  width: 5px;
  height: 8px;
  background:
  url("../image/catalog/nav-link.svg") no-repeat;
} */

.catalog-filter-group {
border: none;
padding: 0;
}

.catalog-filter-group-1 {
margin-left: 167px;
}

.catalog-filter{
  display: flex;
  padding-left: 71px;
  padding-top: 45px;
}

.catalog-filter-inputs {
  display: flex;
  width: 287px;
  height: 48px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
}

.catalog-filter-input {
  width: 100px;
  height: 46px;
  border: none;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 8px;
  padding-left: 19px;
}

/* Placeholder */
.catalog-filter-input::placeholder {
  weight: 400px;
  font-size: 18px;
  line-height: 23px;
  color: white;
  opacity: 1;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: none;
  padding-bottom: 30px;
  padding-right: 67px;
}

.catalog-filter-label {
  display: flex;
  align-items: center;
  color: #ffffff30;
  width: 50%;
}
 
.catalog-filter-label:first-of-type {
  border-right: 2px solid white;
}

.catalog-filter-label:hover {
  border: 2px solid #FFFFFF60;
}

.catalog-filter-label:focus {
  border: 2px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 0px 0px 3px #81B3D2;
}

.catalog-filter-label:active {
  background: #756257;
  border: 2px solid #FFFFFF;
}

.control-label {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-transform: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: none;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 39px;
  padding-bottom: 13px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control-mark:hover {
  background: rgba(255, 255, 255, 0.6);
}

.control-mark:focus {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control-mark:active {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: -2px;
  left: 4px;
  content: url("../image/checkbox.svg");
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

/*Range*/

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
  width: 216px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border: none;
}

.toggle-min {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  left: 0;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min:focus {
  outline: 3px solid #83B3D3;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min:active {
  border: 2px solid #83B3D3;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-max {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  left: 216px;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-max:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-max:focus {
  outline: 3px solid #83B3D3;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-max:active {
  border: 2px solid #83B3D3;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.button-apply {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.button-apply:hover {
  background: #68A2CA;
}

.button-apply:focus {
  background: #68A2CA;
border: 3px solid #FFFFFF;
}

.button-apply:active {
  background: #68A2CA;
  color: #FFFFFF30;
}

.button-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: none;
  border: none;
  background: transparent;
}

.button-reset:hover {
  color:#FFFFFF60;
}

.button-reset:focus {
  color:#FFFFFF;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  width: 100px;
}

.button-reset:active {
  color:#FFFFFF30;
}

.button-container-catalog {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: none;
  padding-left: 81px;
  align-self: center;
  margin-top: 30px;
}

.catalog-container {
  margin: 72px;
  margin-top: 50px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 45px;
}

.select-control-1 {
border: 2px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
width: 287px;
padding-top: 12px;
padding-bottom: 13px;
padding-left: 19px;
margin-left: 192px;
cursor: pointer;
}

.select-control-1:hover, .select-control:hover {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
}

.select-control-1:focus, .select-control:focus {
  border: 2px solid #83B3D3;
  box-sizing: border-box;
}

.select-control-1:active, .select-control:active {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  color: #33333330;
} 
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-mode-tile {
  width: 16px;
  height: 14px;
  background:
  url("../image/catalog/mode-tile-1.svg") no-repeat;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  margin-right: 8px;
  background-position: center;
  cursor: pointer;
}

.button-mode-tile:hover {
  border: 2px solid #83B3D3;
box-sizing: border-box;
}

.button-mode-tile:focus {
  border: 2px solid #83B3D3;
box-sizing: border-box;
}

.button-mode-tile:active {
  border: 2px solid #000000;
box-sizing: border-box;
}

.button-mode-slideshow {
  width: 16px;
  height: 14px;
  background:
  url("../image/catalog/mode-slideshow-1.svg") no-repeat;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  margin-right: 8px;
  background-position: center;
}

.button-mode-slideshow:hover {
  border: 2px solid #83B3D3;
box-sizing: border-box;
}

.button-mode-slideshow:focus {
  border: 2px solid #83B3D3;
box-sizing: border-box;
}

.button-mode-slideshow:active {
  border: 2px solid #000000;
box-sizing: border-box;
}

.button-mode-list {
  width: 16px;
  height: 14px;
  background:
  url("../image/catalog/mode-list1.svg") no-repeat;
  border: 2px solid #000000;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  background-position: center;
}

.button-mode-list:hover {
  border: 2px solid #83B3D3;
box-sizing: border-box;
}

.button-mode-list:focus {
  border: 2px solid #83B3D3;
box-sizing: border-box;
}

.button-mode-list:active {
  border: 2px solid #000000;
box-sizing: border-box;
}

/*List*/

.product-list {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product-list::after {
  position: relative;
  flex-grow: 1;
  order: 2;
  bottom: 764px;
  width: 1056px;
  border-top: 1px solid #E6E6E6;
  transform: rotate(180deg);
  content: "";
}

.product-list::before {
  position: relative;
  flex-grow: 1;
  order: 2;
  bottom: -120px;
  width: 1056px;
  border-top: 1px solid #E6E6E6;
  transform: rotate(180deg);
  content: "";
}

.product-card::before {
  position: relative;
  flex-grow: 1;
  order: 2;
  bottom: 0px;
  width: 1056px;
  border-top: 1px solid #E6E6E6;
  transform: rotate(180deg);
  content: "";
}


.product-card {
  display: grid;
  grid-template-columns: 180px auto 160px;
  grid-template-rows: 120px;
  padding-top: 31px;
  gap: 37px; 
}

.product-card-hotels {
  display: grid;
  grid-template-columns: 160px 160px auto;
  grid-template-rows: 32px 1fr 37px;
  gap: 8px; 
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-transform: none;
  margin: 0;
}

.product-card-title:hover {
  color: #756257;
}

.product-card-title:focus {
  color: #756257;
  border: 3px solid #83B3D3;
box-sizing: border-box;
border-radius: 10px;
} 

.product-card-title:active {
  color: #75625730;
}

.product-card-name {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.product-card-price{
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.product-card-button-favourites {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.product-card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.product-card-link {
  text-decoration: none;
}

.product-card-image-4 {
  width: 90px;
  background: url("../image/catalog/stars-4.svg") no-repeat;
  margin: 0;
  height: 20px;
  background-position: center;
}

.product-card-image-3 {
  width: 90px;
  background: url("../image/catalog/stars-3.svg") no-repeat;
  margin: 0;
  height: 20px;
  background-position: center;
}

.product-card-image-2 {
  width: 90px;
  background: url("../image/catalog/stars-2.svg") no-repeat;
  margin: 0;
  height: 20px;
  background-position: center;
}

.product-card-image:hover {
  opacity: 0.6;
}

.product-card-image:focus {
  outline: 3px solid #83B3D3;
}

.product-card-image:active {
  opacity: 0.3;
}

.product-card-description {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: none;
  text-decoration: none;
}

.product-card-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: none;
  text-decoration: none;
}

.product-card-button-brown {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.product-card-button-brown:hover {
  background: #615048;
}

.product-card-button-brown:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
}

.product-card-button-brown:active {
  background: #615048;
  color:#FFFFFF30;
}

.product-card-button-blue {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.product-card-button-blue:hover, .product-card-button-more:hover{
  background: #68A2CA;
}

.product-card-button-blue:focus, .product-card-button-more:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.product-card-button-blue:active, .product-card-button-more:active {
  background: #68A2CA;
  color:#FFFFFF30;
}

.product-card-button-green {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color:#7DB54F;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.product-card-button-green:hover {
  background: #6C9E42;
}

.product-card-button-green:focus {
  background:#6C9E42;
  outline: 3px solid #756257;
}

.product-card-button-green:active {
  background:#6C9E42;
  color:#FFFFFF30;
}

.product-card-button-more {
  display: flex;
  justify-content: center;
  width: 625px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto;
  border-radius: 4px;
  margin-top: 31px;
  margin-bottom: 30px;
}

.product-card-rating {
  width: 160px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: black;
  background-color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 10px;
  margin: 0;
}

/*Pagination*/

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 72px;
}

.pagination-item {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 7px;
}

.pagination-color-2:hover {
  background: #68A2CA;
}

.pagination-color-2:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.pagination-color-2:active {
  background:#F2F2F2;
}

.pagination-color:disabled {
  background: #83B3D3;
  color:#FFFFFF30;
}

.pagination-color:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
  color: 
}

.pagination-color {
  background-color: #F2F2F2;
}

.pagination-color-2 {
  background-color: #83B3D3;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
}

.pagination-link:active {
  color: black;
}

.pagination-current {
  color:black;
}

/*Sorting*/
.sorting-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 72px;
}

.sorting-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.sorting-title-bottom {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-transform: none;
}

.select-control {
border: 2px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
padding-top: 13px;
padding-bottom: 12px;
padding-right: 133px;
padding-left: 17px;
margin-left: 51px;
}

/*Submit*/
.appointment-black {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  margin: 0;
}

.appointment-title-black {
  text-transform: uppercase;
  margin-top: 89px;
}