.main-index {
    background:
    url("../image/divider.svg") no-repeat 0px 428px,
    url("../image/index-background.jpg") no-repeat;
    background-color: white;
}

.appointment {
    background:
    url("../image/submit-background.jpg") no-repeat;
}
.advantages-list-house {
    background: url("../image/house-icon.svg") no-repeat;
}

.advantages-list-burger {
    background: url("../image/burger-icon.svg") no-repeat;
}

.advantages-list-souvenir {
  background: 
  url("../image/present-icon.svg") no-repeat;
}

.inner-header {
  background:
  url("../image/catalog-background.jpg") no-repeat;
}


